# Automatically normalize line endings (to LF) for all text-based files.


############################################################################################
## auto crlf to lf                                                                         #
##                                                                                         #
## exec:        git config --global core.autocrlf true                                     #
## example:     *.sh text eol=lf                                                        #
############################################################################################
* text=auto eol=lf

############################################################################################
## markup files                                                                            #
##                                                                                         #
## example:    *.txt    text                                                               #
## example:    *.png    binary                                                             #
############################################################################################


############################################################################################
## binary files                                                                            #
##                                                                                         #
## example:    *.png    binary                                                             #
############################################################################################

############################################################################################
## merge attribute                                                                         #
##                                                                                         #
## example:    *.txt    text merge=union                                                   #
############################################################################################

############################################################################################
## ignore                                                                                  #
##                                                                                         #
## example:    secret.txt    ignore                                                        #
############################################################################################
